body {
  background-color: #f8f9fa;
}

.dark body {
  background-color: #333;
  color: #fff;
}

.gradient-bg {
  background: linear-gradient(135deg, #6610f2, #6f42c1);
  color: white;
}

.gradient-text {
  background: linear-gradient(135deg, #6610f2, #d63384);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
